<div class="tag_context-show">
  <h1><%= @tag_context.name %></h1>
  <dl>
    <dt>Context:</dt>
    <dd><%= @tag_context.context %></dd>
    <dt>Type of Object Tagged:</dt>
    <dd><%= @tag_context.object_tagged %></dd>
    <dt>Description:</dt>
    <dd><%= @tag_context.description %></dd>
  </dl>

</div>
