<div class="grid_8 alpha">
  <h2>Notes</h2>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to('Mine', note_query_yours_path) %></li>
      <% end %>
      <li><%= link_to('New', note_query_new_path) %></li>
      <li><%= link_to('Updated', note_query_recent_path) %></li>
    </ul>
  </div>
</div>

