.bundle
db/*.sqlite3
log/*.log
tmp/**/*
nbproject/*
*.swp
config/database.yml
.rvmrc
solr/conf/solrconfig.xml
db/schema.rb
config/sunspot.yml
*/.DS_Store
solr/*
.DS_Store
log/*
public/images/thumbs/
public/uploads/
