<div class="grid_3 list contact-list recent alpha">
</div>

<div class="grid_3 list contact-list yours">
</div>

<div class="grid_3 list contact-list new omega">
</div>

<div class="grid_3 list note-list new alpha">
</div>

<div class="grid_3 list note-list upcoming">
</div>

<div class="grid_3 list note-list all_upcoming omega">
</div>

<div class="grid_3 list saved_search-list alpha">
</div>
