<div class="grid_3 contact-list recent alpha">
</div>

<div class="grid_3 contact-list yours">
</div>

<div class="grid_3 contact-list new omega">
</div>

<div class="grid_3 note-list new alpha">
</div>

<div class="grid_3 note-list upcoming">
</div>

<div class="grid_3 note-list all_upcoming omega">
</div>

<div class="grid_3 saved_search-list alpha">
</div>
