body{
    background: url('/images/stripe_98798ee1ae2a90611741daf5aebd1623.png');
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 1.8em;
}

.body{
  padding-bottom: 10px;
}


.header{
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  float: left;
  border: 1px white;
  border-style: solid solid none solid;
}

.header h1{
  font-size: 48px;
  font-weight: normal;
  margin-left: 10px;
  color: #000f45;
}

.header h1 a{
  text-decoration: none;
  color: #000f45;
}

.body{
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid white;
}

.flash{
  border: 4px solid;
  width: 80%;
  margin: 2px auto;
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: white;
}

.flash-notice{
  color: blue;
  border-color: blue;
}

.flash-error{
  color: red;
  border-color: red;
}

.flash-alert{
  color: darkgreen;
  border-color: darkgreen;
}

form{
  display: inline;
}
.clear{
  clear: both;
}

h1, h2, h3{
    font-size: 24px;
    margin-bottom: .5em;
    margin-top: .5em;
	color: #000f45;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

h5 a{
    font-size: 12px;
	text-decoration: none;
}

dt{
  font-weight: bold;
}

dd{
  margin-left: 2em;
  margin-bottom: .5em;
}

#right-header-container{
  min-height: 15px;
  padding-top: 20px;
}

#right-header-container a{
  color: white;
}

#spinner{
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
}

.body{
    background-color: white;
    float: left;
}

.list{
  margin-bottom: 1em;
  min-height: 200px;
  height: 415px;
  overflow: auto;
}

.search .list{
  height: auto;
}

.main .list{
  max-height: none;
  overflow: visible;
}

.actions{
  margin-left: 10px;
}

.action-item{
  border-bottom: 1px dashed #87b6d9;
  padding: 20px;
  padding-right: 10px;
}

.action-item h2{
  margin: 0px;
}

.actions .action-item a{
  padding: 3px;
  text-decoration: none;
  color: #000f45;
}

.actions .action-item a.selected{
  border-right: 1px #000f45 solid;
  color: #CCC;
}

.actions a:hover{
  background: #ccc;
  border-radius: 5px;
}

fieldset{
  border: 1px solid black;
  padding: 5px;
}

legend{
    font-size: larger;
    font-weight: bold;
}

.hover{
  background-color: #e4e4e4;
}

.control-target{
  display: none;
}

/* for jquery.tag.suggestions */
.tagMatches {
/*    display: block;
    margin: 10px;
    float: left;
    */
}

.tagMatches span{
    padding: 2px;
    margin: 0px 4px 3px 0px;
    background-color: #eaf4fd;
    color: #4d8ec5;
    cursor: default;
    border: 1px solid #4d8ec5;
    font-size: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    line-height: 1.1em;
}

.tagMatches span a{
  text-decoration: none;
  color: black;
}

.tagMatches span a:hover{
  text-decoration: underline;
}

.tagMatches .depth_1{
  margin-left: 1em;
}

.tagMatches .depth_2{
  margin-left: 2em;
}

.tagMatches .depth_3{
  margin-left: 3em;
}

.tagMatches .depth_4{
  margin-left: 4em;
}

.tagMatches .depth_5{
  margin-left: 5em;
}

.tagMatches .depth_6{
  margin-left: 6em;
}

.tagMatches .depth_7{
  margin-left: 7em;
}

.formtastic span.existingTags span{
  padding-left: 15px;
  background: url('../images/remove.png') 2px 2px no-repeat #e4e4e4;
}
/* for jquery.tag.suggestions */

.collapsable-control{
  cursor: pointer;
}

li{
  line-height: 1.4em;
}

form.formtastic fieldset > ol > li {
  margin-bottom: .75em;
}

.emails, .addresses, .notes, .documents, .phone_numbers{
  line-height: 1.6em;
}

table tr{
   text-align: left;
}

td, th
{
  padding-right:15px;
}

.contact_section_header{
  margin-top: 2em;
}

.address, .email, .note, .document, .phone_number{
  margin-top: 1em;
}

.addresses .address{
  margin-left: 1em;
  height: 5em;
  float: left;
  border: 1px solid #ccc;
  padding: .5em;

}

/* 
.emails .email{
  padding: 5px;
  margin-top: 10px;
  background-color: #FCF0AD;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  float: left;
  min-width: 180px;
  max-width: 380px;
  margin-right: 20px;
  overflow: auto;
  max-height: 10em;
  height: 8em;
  min-width: 160px;
  max-width: 360px;
  overflow: auto; 
}
*/

.emails .primary{
  background-color: #e4e4e4; 
}

.document_type{
  font-size: smaller;
}

.note .meta{
  float: left;
  margin: 3px 10px 10px 3px;
  border: 1px #cccccc;
  padding: 5px;
  border-style: none solid solid none;
}

.icon{
  vertical-align: middle;
}

.note .priority{
  font-family: georgia, serif;
  font-size: 24px;
  font-weight: bold;
}

.note .due_date {
  font-size: 10px;
}

.button{
  padding: .25em .5em .25em .5em !important;
}

.addresses .address_type{
  font-weight: bold;
}

.readmore, .icon-container{
  float: right;
}

.formtastic fieldset.block{
  border: 1px solid #cccccc;
  margin: 5px 5px 10px 5px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

form.formtastic fieldset > ol > li.required{
  font-weight: bold;
}

#footer, #footer a{
  color: white;
}

#cog-text {
  font-size: .90em;
  float: right;
  text-align: right;
  padding-right: 10px;
}
