body{
    background-color: #e4e4e4;
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 1.8em;
}

.clear{
  clear: both;
}

h1, h2, h3{
    font-size: 24px;
    margin-bottom: .5em;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

dt{
  font-weight: bold;
}
dd{
  margin-left: 2em;
  margin-bottom: .5em;
}

#right-header-container{
  min-height: 15px;
}

#spinner{
  display: none;
}

.header, .body{
    background-color: white;
    float: left;
}

.list{
  margin-bottom: 1em;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
.actions{
    background-color: #cccccc;
    color: black;
}

fieldset{
    border: 1px solid black;
    padding: 5px;
}

legend{
    font-size: larger;
    font-weight: bold;
}

.floating-control{
  float: right;
  display: none;
}
.hover{
  background-color: #e4e4e4;
}

/* for jquery.tag.suggestions */
span.tagMatches {
    display: block;
    margin: 10px;
}

span.tagMatches span, .layers span{
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: default;
}
/* for jquery.tag.suggestions */

.collapsable-control{
  cursor: pointer;
}

li{
  line-height: 1.2em;
}

form.formtastic fieldset > ol > li {
  margin-bottom: .75em;
}

.emails .email, .addresses .address, .notes .note{
  float: left;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  height: 1.5em;
}

.emails .primary{
  background-color: #e4e4e4; 
}

.addresses, .emails, .address, .email, .notes, .note{
  margin-top: 5px;
}

.addresses .address{
  height: 5em;
}

.notes .note{
  background-color: #FCF0AD;
  height: 8em;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  min-width: 150px;
  max-width: 400px;
  overflow: auto;
}

.note .meta{
  float: left;
  margin: 3px 10px 10px 3px;
  border: 1px #cccccc;
  padding: 5px;
  border-style: none solid solid none;
}

.note .priority{
  font-family: georgia, serif;
  font-size: 24px;
  font-weight: bold;
}

.note .due_date {
  font-size: 10px;
}

.addresses .address_type{
  font-weight: bold;
}

.formtastic fieldset.block{
  border: 1px solid #cccccc;
  margin: 5px 5px 10px 5px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  
}
