<h1>Upload a file</h1>
<p>More details about file formats here. . . but csv.</p>

<%= semantic_form_for(:importer, :url => url_for(:controller => :importer, :action => :upload_file), :method => :post, :html => {:multipart => true}) do|f| %>
  <% f.inputs do %>
    <%= f.input(:imported_file, :as => 'file', :label => 'Upload a file') %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button('Upload File') %>
  <% end %>
<% end %>
