<div class="document document_type_<%= document.document_type %>">
  <div class="meta">
    <h3><%= document.name %> - <span class="document_type"><%= Document::DOCUMENT_TYPES[document.document_type] %></span></h3>
  </div>
</div>
