<div class="phone_number<%= (phone_number.is_primary) ? ' primary' : '' %>">
  <%= phone_number.phone %>, <%= phone_number.phone_type %> <%= raw (phone_number.is_primary) ? ', <strong>primary</strong>' : '' %>
</div>
