<li><span id="tag_<%= tagging.tag.id %>"><%= link_to(tagging.tag.hierarchical_name(' :: '),tag_path(tagging.tag)) %></span> on <%= link_to(tagging.taggable,tagging.taggable, :class => 'dialog-show') %></li>
