<% unless title.blank? %>
  <h1><%= title %></h1>
<% end %>
<% unless @contact_carts.blank? %>
<table>
  <tr>
    <th>Actions</th>	
    <th>Name</th>
  </tr>
  <%= render :partial => 'shared/lines/contact_cart', :collection => @contact_carts %>
</table>
  <%= will_paginate(@contact_carts) %>
<% else %>
  <h2>None found.</h2>
<% end %>
