<h1><%= title %></h1>
<% unless @contacts.blank? %>
  <ul>
    <%= render :partial => 'shared/lines/contact', :collection => @contacts %>
  </ul>
  <%= will_paginate(@contacts) %>
<% else %>
  <h2>None found.</h2>
<% end %>
