<% unless title.blank? %>
  <h1><%= title %></h1>
<% end %>

<% unless @contacts.blank? %>
  <table>
    <tr>
	  <th>Actions</th>	
      <th>Name</th>
      <th>Email</th>
      <th>Organization</th>
	  <th>Last Updated</th>
    </tr>
    <%= render :partial => 'shared/lines/contact', :collection => @contacts %>
  </table>

  <%= will_paginate(@contacts) %>
<% else %>
  <h2>None found.</h2>
<% end %>
