<h1><%= title %></h1>
<% unless @contacts.blank? %>
  <ul>
    <% @contacts.each do |c| %>
      <li><%= c.first_name %> <%= c.last_name %></li>
    <% end %>
  </ul>
  <%= will_paginate(@contacts) %>
<% else %>
  <h2>None found.</h2>
<% end %>
