<p style="margin-bottom: .75em;"><a href="#" id="expand_all">Expand</a></p>
<span class="tagMatches existingTags">
  <%= render :partial => 'shared/tag_detail', :collection => @tags %>
</span>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery('#expand_all').click(function(e){
      e.preventDefault();
      jQuery('.expand_tag').click();
    });
  });
<% end %>


<%= will_paginate(@tags) %>	