<% unless tag_list_for_display.blank? %>
  <span class="tagMatches existingTags">
    <% tag_list_for_display.each do |t| %>
      <span id="tag_<%= t.id %>"><%= link_to(t.hierarchical_name(' :: '),tag_path(t)) %></span>
    <% end %>
  </span>
  <div class="clear"></div>
<% end %>
