<div class="contact_cart_<%= @contact_cart.id %>">
  <h1><%= @contact_cart.name %></h1>
  <div class="tabs">
    <ul>
      <li><%= link_to('Contacts', contacts_contact_cart_path(@contact_cart)) %></li>
    </ul>
  </div>
</div>
