<h1><%= @contact %></h1>
<ul>
  <% unless @contact.birthday.blank? %>
    <li><div class="label">Birthday:</div> <%= @contact.birthday %></li>
  <% end %>

  <% unless @contact.emails.blank? %>
  <% end %>

  <% unless @contact.addresses.blank? %>
  <% end %>

</ul>

