<span class="tagMatches existingTags">
  <% unless @tag.ancestors.empty? %>
    <% @tag.ancestors.each do |t| %>
    <span><%= link_to(t, tag_path(t)) %></span>
    <div class="clear"></div>
  <% end %>
  <% end %>
  <h3>Show items tagged with:</h3>
  <div style="margin-left: 1em">
    <% @tag.descendants.sort_by{|d| d.hierarchical_name}.each do|d| %>
      <span><%= link_to(d.hierarchical_name, tag_path(d)) %></span>
      <div class="clear"></div>
    <% end %>
  </div>
</span>

