<div class="grid_8 alpha">
  <h2>Tags</h2>
  <div class="tabs">
    <ul>
      <li><%= link_to('All', display_tags_path) %></li>
    </ul>
  </div>
</div>

<!--
<p style="margin-bottom: .75em;"><a href="#" id="expand_all">Expand</a></p>
<span class="tagMatches existingTags">
  <%= render :partial => 'shared/tag_detail', :collection => @tags %>
</span>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery('#expand_all').click(function(e){
      e.preventDefault();
      jQuery('.expand_tag').click();
    });
  });
<% end %>
-->

