<% unless request.xhr? %>
  <div class="contact search">
    <div class="list">
    <% end %>
    <% @contacts = @contact_query.results %>
    <%= render :partial => "shared/contact_list",  :locals => {:title => "#{@contact_query.hits.count} displayed of #{@contact_query.total}"} %>
    <% unless request.xhr? %>
    </div>
  </div>
<% end %>
